/* src/components/changePassword.css */

.change-password-page {
  position: relative;
  background: var(--primary-color);
  padding: 40px;
  border-radius: 10px;
  box-shadow: rgba(16, 30, 74, 0.1) 0px 3px 8px;
  color: var(--neutral-color-1);
}

.change-password-page .change-password-page h2 {
  color: var(--accent-color-1);
  text-align: center;
  margin-bottom: 20px;
}

.change-password-page .form-group {
  margin-bottom: 20px;
}

.change-password-page form-group label {
  display: block;
  margin-bottom: 5px;
  color: var(--neutral-color-1);
}

.change-password-page .input-wrapper {
  position: relative;
  width: 100%;
}

.change-password-page .form-group input {
  width: 100%;
  padding: 10px !important;
  border: 1px solid var(--neutral-color-1) !important;
  border-radius: 5px;
}

.change-password-page .password-toggle-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--neutral-color-1);
}

.change-password-page .btn-success {
  background-color: var(--accent-color-3);
  color: var(--background-color-1);
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.change-password-page .btn-success:disabled {
  background-color: var(--neutral-color-1);
  cursor: not-allowed;
}
.change-password-page .form-control {
  color: var(--neutral-color-1);
}
.change-password-page h2 {
  color: var(--accent-color-1);
  margin-bottom: 30px;
}
