.loading-container {
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card .MuiTableRow-head * {
  font-size: 20px !important;
  font-weight: 600 !important;
  font-family: "Poppins", sans-serif;
}
.card .MuiTableBody-root * {
  font-size: 18px !important;
  font-weight: 500 !important;
  font-family: "Poppins", sans-serif;
}
.page-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.page-not-found h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
